<Config>
  <Channel1>
    <CHANNEL>1</CHANNEL>
    <PRDI>1</PRDI>
    <SNO>1</SNO>
    <BRND>1</BRND>
    <FIWV>1</FIWV>
    <IAPL>1</IAPL>
    <IID>1</IID>
    <ID>1</ID>
    <SEQ>1</SEQ>
    <DATE>1</DATE>
    <SORC>1</SORC>
    <STYP>1</STYP>
    <ASPM>1</ASPM>
    <ASPS>1</ASPS>
    <BLMD>1</BLMD>
    <BLNK>1</BLNK>
    <ASWP>1</ASWP>
    <RPD>1</RPD>
    <RPDS>1</RPDS>
    <RPDL>1</RPDL>
    <RPDH>1</RPDH>
    <RPDF>1</RPDF>
    <WDMS>1</WDMS>
    <WDMA>1</WDMA>
    <WDFB>1</WDFB>
    <WDLL>1</WDLL>
    <WDLH>1</WDLH>
    <WDCL>1</WDCL>
    <WDCH>1</WDCH>
    <WLGL>1</WLGL>
    <WDIL>1</WDIL>
    <WDIH>1</WDIH>
    <WDDM>1</WDDM>
    <WDDP>1</WDDP>
    <CAPL>1</CAPL>
    <CLVL>1</CLVL>
    <CEXP>1</CEXP>
    <CEXT>1</CEXT>
    <RGED>1</RGED>
    <RGEL>1</RGEL>
    <RGEC>1</RGEC>
    <APNU>1</APNU>
    <APNA>1</APNA>
    <XLT>1</XLT>
    <RDLI>1</RDLI>
    <RDPN>1</RDPN>
    <RDED>1</RDED>
    <RLLI>1</RLLI>
    <RLPN>1</RLPN>
    <RLED>1</RLED>
    <RCLI>1</RCLI>
    <RCPN>1</RCPN>
    <RCED>1</RCED>
    <RBC>1</RBC>
    <MCV>1</MCV>
    <HCT>1</HCT>
    <MCH>1</MCH>
    <MCHC>1</MCHC>
    <RDWR>1</RDWR>
    <RDWA>1</RDWA>
    <PLT>1</PLT>
    <MPV>1</MPV>
    <PCT>1</PCT>
    <PDW>1</PDW>
    <LPCR>1</LPCR>
    <HGB>1</HGB>
    <WBC>1</WBC>
    <LA>1</LA>
    <MA>1</MA>
    <GA>1</GA>
    <LR>1</LR>
    <MR>1</MR>
    <GR>1</GR>
    <EA>1</EA>
    <ER>1</ER>
    <FILEFORMAT>Text</FILEFORMAT>
    <SAMPLEDATA>Extended</SAMPLEDATA>
    <OUTDIR>C:\temp\BM800Out\</OUTDIR>
    <ACTIVECOM>RS232</ACTIVECOM>
    <RSPORT>COM3</RSPORT>
    <RSBAUD>19200</RSBAUD>
    <SERVERIP>193.100.100.214</SERVERIP>
    <SERVERPORT>N/A</SERVERPORT>
    <SERVERNAME>N/A</SERVERNAME>
    <CLIENTIP>N/A</CLIENTIP>
    <CLIENTPORT>N/A</CLIENTPORT>
    <CLIENTNAME>N/A</CLIENTNAME>
    <EXTINSTR>1</EXTINSTR>
    <EXTINFO>1</EXTINFO>
    <EXTRESULT>0</EXTRESULT>
    <GENERIC1>n/a</GENERIC1>
    <GENERIC2>RS232</GENERIC2>
  </Channel1>
</Config>